<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>hibernateannotation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.controller.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebPage</display-name>
    <servlet-name>WebPage</servlet-name>
    <servlet-class>com.controller.WebPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebPage</servlet-name>
    <url-pattern>/WebPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployee</display-name>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>com.controller.GetEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/GetEmployee</url-pattern>
  </servlet-mapping>
</web-app>